[2019-07-19 10:08] 5chm3gz opened #1 "Accessory not responding."
[text-0B579462CFF3-1.txt](https://github.com/joshstrange/homebridge-eufy-robovac/files/3410587/text-0B579462CFF3-1.txt)
Config attached.
Is IP the ip address grabbed using adb or the local IP as per my router?

Homebridge is showing the device in the app, but it is always showing no response, and the accessory is not responding. Sometimes the status is all off in red. Is this git still supported?

[2019-07-21 17:19] ollyboon commented on #1
@5chm3gz You should use either the IP address OR the device ID. I've got mine running using the device id only. I do have response but have it turning off and returning to base after a few seconds. Let me know if you get any further.

[2019-07-22 14:16] joshstrange commented on #1
@5chm3gz Sorry I missed your first message. Can you tell me what model of RoboVac you are using? I have a 30C (all I could test on). The IP is the one from your router (adb might show the same one? not sure, I grabbed mine from scanning my network). Like @ollyboon said you just need the deviceId+secret OR IP+secret.

I prefer the deviceId+secret because it's more resilient if you robovac gets a ne

[2019-07-22 20:00] ollyboon commented on #1
@joshstrange fair enough! I've got the 15C. I've got it set up properly (can make it beep etc). I just having trouble with what I mentioned above. I can't do a schedule due to having to move rugs, cables etc.. So I was attempting to use your plugin to run a Siri shortcut daily to ask whether I want to vacuum or not. I'll open an Issue and can hopefully explain more. Thanks for your help!

[2019-07-22 20:14] ollyboon opened #2 "Control Robovac via home app switches itself off."
**As title says, Robovac (15C) turns off after turning on in HomeKit. What happens is very similar to the quick test command @mitchellrj talks about in eufy-robovac.**

### For me:
Press "turn fan on" for Robovac in HomeKit.
Vacuum turns on and exits base.
Switch in HomeKit turns itself off.
Vacuum beeps and returns to base.
Vacuum beeps again and begins charging.

Turning on in HomeKit reproduces

[2019-07-22 20:24] ollyboon commented on #2
### Update: If go into HomeKit group for the robovac and navigate to the the vac accessory specifically control seems to work.

**This happens:**
Turn on robovac in home app by selecting accessory inside group.
Vac turns on and begins cleaning.
Button in home app turns off.
Vac continues cleaning.
Turn on again in home app.
Vac continues cleaning.
(Vac is now cleaning and is displayed as 'ON' on h

[2019-07-22 20:36] joshstrange commented on #2
@ollyboon Interesting, I don't group mine and I honestly don't know how the Eufy will react to both those modes getting flipped on at the same time (my assumption of what happens when you trigger them as a group).

You second post does help and I did see the behavior you are mentioning when I was testing it but couldn't pin it down to what was going wrong. To be perfectly honest with you it's not

[2019-07-22 20:46] ollyboon commented on #2
@joshstrange No worries. I'm not familiar with writing homebridge plugins so don't think I'd be of much help. From a bit more testing it seems iOS13 automatically creates these groups with no option to ungroup (Image below). iOS12 works perfectly fine. Hopefully this is something that sorts itself out with GM seed. Thanks for the reply 👍

![IMG_8538767B4789-1](https://user-images.githubusercontent

[2019-08-10 11:43] raulfunkie opened #3 "UnhandledPromiseRejectionWarning / No Response"
Getting this error while running homebridge in debug mode to see what's making it not recognize the Robovac as a device. The "devices" show on Home App (Switch to Find and Fan for Vacuum) but they're always on a "No Response" status.

# Error
[code]

# Config File
[code]
I've set a reservation for the vacuum on my router to have this specific IP and I got the keys using the guide provided by [mitc

[2019-08-10 11:49] raulfunkie commented on #3
# Update 1

I found that I made a mistake using the wrong IP address (it should've been 192.168.7.248 not '6').

I updated that on my config.json:
[code]

and I'm now getting this error:
[code]

[2019-08-29 04:51] remserwis opened #4 "no response - id and key set"
after sniffing data and editing config.json I am getting  logs as follow:

when starting homebridge:

and when opening Home app:

Every homebridge device is "no response" status after that.

Device ID masked intentionally.

[2019-09-07 11:09] jeromeof commented on #3
I am also getting this exception:

homebridge_1  | (node:408) UnhandledPromiseRejectionWarning: Error: find() timed out. Is the device powered on and the ID or IP correct?
homebridge_1  |     at s (/homebridge/node_modules/homebridge-eufy-robovac/dist/index.js:1:25846)
homebridge_1  |     at Timeout.setTimeout [as _onTimeout] (/homebridge/node_modules/homebridge-eufy-robovac/dist/index.js:1:26478)

[2019-09-07 11:53] jeromeof commented on #3
OK, it looks like there was a update which broken this code but the python based eufy_robovac project seems to have fix it in this branch

https://github.com/mitchellrj/eufy_robovac/tree/tuya_3_3

There demo code here works with my Robovac 30c

[2019-09-22 17:22] crazywako commented on #3
@jeromeof

Did you get this working on Homebridge? Cause I couldn't get it working and I have the same exact error ( Error: find() timed out. Is the device powered on and the ID or IP correct?)

**EDIT**: **found a solution**. I did build _eufy-robovac_ myself and moved it to _homebridge-eufy-robovac/node_modules/eufy-robovac_.

If someone has the same problem you can replace _homebridge-eufy-robo

[2019-09-23 14:07] raulfunkie commented on #3
@crazywako would you mind sharing your whole homebridge-eufy-robovac folder? I can't get it to work. I replaced the file mentioned above but still no dice on the Home app. :(

[2019-10-03 22:33] kaicherry commented on #4
This issue was resolved, for me at least, via the pastebin below, replacing /usr/local/lib/node_modules/homebridge-eufy-robovac/dist/index.js:
https://pastebin.com/evYiCzqb

[2019-10-03 22:43] remserwis commented on #4
thank you for info...
I will try it today

[2019-10-03 23:18] remserwis commented on #4
Got it...Works... Thank You very much

BTW..if anybody has the problem like me I wanted to notice that it has to be one line with DeviceID or IP setting....not both.

[2019-10-16 13:55] raulfunkie commented on #4
here to confirm that @remserwis fix above paired with @kaicherry fix of index.js works.

The vacuum turns itself off on Homebridge (shows itself as off after a while, even if its still running). Progress, none the less.

[2019-10-16 13:58] raulfunkie commented on #2
@ollyboon did you ever get around fixing or finding a solution for the off-status in HomeKit? currently experiencing that and was curious as to wether you found a solution.

[2019-11-10 11:29] apexad opened #5 "Send Home button"
Would you be able to add the 'Send Home' button?

[2020-02-20 14:19] raulfunkie opened #8 "Error: connection timed out"
Getting these errors from time to time and it renders my whole HomeKit operation unusable until I restart Homebridge.

Any ideas what could be causing this error and any possible solution?

[code]

[2020-02-20 15:55] raulfunkie commented on #8
[homebridge-error.log](https://github.com/joshstrange/homebridge-eufy-robovac/files/4231605/homebridge-error.log)
attaching complete homebridge log just in case someone wants to take a look at it for further review.

@aperkins1310 hey, this is the error I was telling you about the other day.

[2020-03-04 20:46] MonsterEnergy-wtf commented on #8
Nice to see that someone else is facing the same issue.
Not sure since what time I have this issue but it seems that the package has some issues with the latest version of homebrige.
Maybe someone who has more experience with this package could take a look into this here please?
I'm glad to help where ever I can.

[2020-03-04 20:52] MonsterEnergy-wtf commented on #4
@kaicherry can you please provide the source code for this change? It worked since last week or something before it started to have connection issues.
I would like to investigate further and therefore it would be nice if you can share the sources, please?

Thanks in advance

[2020-03-04 20:59] MonsterEnergy-wtf commented on #8
I just found a "solution". Some other guy did a great job and fixed some issues and uploaded a transpiled verison of the index.js.
https://github.com/joshstrange/homebridge-eufy-robovac/issues/4#issuecomment-538154698
I already asked him/her to share the source so everone can be happy.

Not sure what caused my issue but I guess that homebridge does a dynamic recompile once an updaate occures or so

[2020-03-04 22:56] raulfunkie commented on #8
That's actually a change I have in place and I keep having the connection issues. Not sure why it keeps happening. :(

[2020-03-05 01:38] MonsterEnergy-wtf commented on #8
I guess it simple to explain (if this solves your issue).
The npm install will be executed once an update of homebridge happened or something like that. In this case the whole dist folder will be wiped and a new ("defect") version of the index.js is created from sources.
This will then cause the issue.

When you now overwrite the already applied fix to the index.js everything will be fine.
In my c

[2020-03-05 16:15] #3 closed, assigned to nobody

[2020-03-09 04:18] #5 closed, assigned to nobody

[2020-03-09 04:18] apexad commented on #5
It seems it does this when shutting off.

[2020-05-14 23:34] joshstrange commented on #4
@kaicherry I was also wondering if you could provide that source code so I can make updates and re-release it. I have other people asking about it as well.

[2020-05-15 04:15] ElBob commented on #4
Confirming as well that this fixed it for me.

[2020-05-21 02:18] apexad commented on #3
@crazywako Mind doing a pull request or sharing your changes to either https://github.com/joshstrange/homebridge-eufy-robovac or https://github.com/joshstrange/eufy-robovac so that we can get this working without having to use a transpired index.js?

[2020-05-21 02:29] apexad commented on #4
@joshstrange I assume changed made to python package in this commit https://github.com/mitchellrj/eufy_robovac/commit/c5f392c63143ae2feaec1bfea9b066b9068abe1e need to be made to the nodeJS version https://github.com/joshstrange/eufy-robovac
Pastebin above is actually from here: https://github.com/joshstrange/homebridge-eufy-robovac/issues/3 so it seems @crazywako is the one that actually already m

[2020-05-21 19:51] marcin001 opened #10 "exception on loading config"
(node:1696) UnhandledPromiseRejectionWarning: TypeError: Key is missing or incorrect.
    at new t.exports (/usr/lib/node_modules/homebridge-eufy-robovac/dist/webpack:/node_modules/eufy-robovac/dist/index.js:1:13622)
    at new t (/usr/lib/node_modules/homebridge-eufy-robovac/dist/webpack:/node_modules/eufy-robovac/dist/index.js:1:5798)
    at t.<anonymous> (/usr/lib/node_modules/homebridge-eufy-r

[2020-05-21 19:57] joshstrange commented on #4
@apexad, yikes... a lot of those changes are down in the Tuya library, I updated the version I used in https://github.com/joshstrange/eufy-robovac a while back and bumped this version back in March. The changes made to the rest of the code (Tuya-aside) seem minor. I'll be honest I'm probably not going to dedicate much time to this because I don't use this plugin anymore.

I am happy to merge reque

[2020-05-21 20:07] apexad commented on #4
@joshstrange please add me as a contributor in GitHub (npmjs too please; same username).

I’ve got a few other things I am working on, so not exactly sure when I will get to it, but definitely want this plugin working again.

[2020-05-21 20:25] MonsterEnergy-wtf commented on #4
Let's see if I can spend a bit of my time to re-engineer this code. I guess the changes related to the "hacked" index.js are not that large. I tried it some weeks ago but I stopped it due missing time.
Not sure if it helps but maybe we can resolve the issue together.

[2020-05-21 20:29] apexad commented on #4
Assuming I find the time and get this working again, we can discuss transfer.

[2020-05-22 19:50] MonsterEnergy-wtf commented on #8
Funny. I just realized that there might be a quick fix for this. Maybe someone can confirm / decline this?

What i did:

1. Removed all dist outputs in eufy-robovac and homekit-eufy-robovac packges
2. npm run build -> Gives a list of issues related to outdated packages (at least at homekit-eufy-robovac)
3. npm audit fix (I normally don't do this because it might fu** up your whole package - but wh

[2020-05-23 19:31] MonsterEnergy-wtf commented on #4
https://github.com/joshstrange/homebridge-eufy-robovac/issues/8#issuecomment-632886842

[2020-05-23 20:20] apexad commented on #8
What is the adjustments to webpack.config.js you made?  I have done 2 PRs with `npm audit fix` for both packages.

[2020-05-23 20:22] apexad commented on #8
@MonsterEnergy-wtf I assume mode?  Let me know if it is not.

[2020-05-23 20:48] apexad commented on #8
@MonsterEnergy-wtf I assume you are using `deviceId` and not `ip addresses`.  Seems that either my devices IP address has changed, or IP address no longer works.  However, when I switched to deviceId it worked!

[2020-05-23 20:50] apexad commented on #4
@joshstrange As mentioned in #8, using the versions in my PRs on both of your repos and setting deviceId, not IP address. It seems to work.  Need to work on removing IP Address as an option and also want to add a config.schma.json and get this plugin homebridge verified.  Do you mind transferring both repos to me? and adding me on npmjs?

[2020-05-23 21:40] joshstrange commented on #4
@apexad you should have full access to Github and Npm. Let me know if you need anything else. Thank you for your help!

[2020-05-23 21:49] apexad commented on #1
Duplicate of #3 #8 #4
This should now be fixed as well.  However, please note, it seems IP address is no longer supported by the Tuya API (used by this plugin).  Please switch to deviceId if you are using IP address.  I will update the plugin README and such to reflect this soon.

[2020-05-23 21:49] #1 closed, assigned to nobody

[2020-05-23 21:50] apexad commented on #4
Duplicate of #3 #8 #1
This should now be fixed as well. However, please note, it seems IP address is no longer supported by the Tuya API (used by this plugin). Please switch to deviceId if you are using IP address. I will update the plugin README and such to reflect this soon.

[2020-05-23 21:50] #4 closed, assigned to nobody

[2020-05-23 21:51] apexad commented on #8
Duplicate of #3 #1 #4
This should now be fixed as well. However, please note, it seems IP address is no longer supported by the Tuya API (used by this plugin). Please switch to deviceId if you are using IP address. I will update the plugin README and such to reflect this soon.

[2020-05-23 21:51] #8 closed, assigned to nobody

[2020-05-23 21:58] apexad commented on #10
It's un-clear where this error was coming from.

However, as of this writing, IP address is no longer supported (README will be updated shortly).  You need to use `deviceId`, so your config.json `accessories' block needs to have an entry that looks like this:

[code]

Instructions to get `devId` (called `deviceId` in the plugin config) and `localKey` are [here](https://github.com/joshstrange/eufy-

[2020-05-23 21:58] #10 closed, assigned to nobody

[2020-05-23 22:09] MonsterEnergy-wtf commented on #8
I had to change the rules from webpack.config.js on both projects (homebridge-eufy-robovac and eufy-robovac):

`rules: [
	{
		test: /\.tsx?$/,
		use: 'ts-loader',
		exclude: /node_modules/
	}
]`

to

`rules: [
	{
    	test: /\.(ts|tsx)?$/,
        include: path.resolve(__dirname, 'src'),
        use: [
        {
        	loader: 'ts-loader'
        }
        ]
    }
]`

After that I was able to co

[2020-05-23 22:11] MonsterEnergy-wtf commented on #8
Yes. I never use IPs because they can change over time. I add device id and key to my config.

[2020-05-23 22:37] apexad commented on #8
@MonsterEnergy-wtf weird, I think needing to fix this is on raspberry-pi, but not on macOS.  Anyway, the plugin should actually be built prior to publish, so this should not be needed as long as `npm run build` works for the developer.

By the way @joshstrange it looks like you were forgetting to do `nom run build` so you probably saw I just pushed out 1.3.1 and 1.1.1 which adds a `prePublish` scr

[2020-05-23 23:03] MonsterEnergy-wtf commented on #8
@apexad related to version 1.1.1 I had issues getting the server back running. I updated the package without any issues (this is what the UI tells me). For some reason the old dist folder remainswith old index.js. After a complete restart of the server the server could not restart homebridge cause of missing homebrigde-eufy-robovac/dist/index.js  (whaaaaat?!)

I had to add my changes to the webpac

[2020-05-23 23:07] apexad commented on #8
I wonder if this is a permissions issue with the dist folder since you are running npm run build yourself.

If you can, try completely uninstalling it and confirming the folder is totally gone, then reinstall it.

[2020-05-23 23:46] raulfunkie commented on #8
Testing the latest changes (1.1.1). Getting this while running `homebridge -D`:
[code]
[code]

[code]

Seems like it connects then disconnects instantly. I was testing some other changes (running `homebridge -D` and it got to report the battery level and whatnot. But I can't get it working anymore. Any ideas?

[2020-05-23 23:47] apexad commented on #8
It appears IP address no I longer works. You need to go get your devId/deviceId.

[2020-05-23 23:48] raulfunkie commented on #8
I'm actually using deviceID and not IP address for my config.

[2020-05-23 23:49] apexad commented on #8
Hmmm, using latest app on your phone and your robot is updated?

[2020-05-23 23:50] raulfunkie commented on #8
Yeah, I just "restarted" homebridge (using pm2 now since I finished debugging other things) and it seems to be running well. I've checked the eufy Home app and no updates are pending.

![image](https://user-images.githubusercontent.com/15929687/82742637-b6412300-9d2e-11ea-8f37-5eb2a5b911bf.png)

[2020-05-23 23:51] apexad commented on #8
Glad to hear it is working now.

[2020-05-23 23:53] raulfunkie commented on #8
@apexad are you planning on getting battery level and charging status implemented again? I saw (when I ran `homebridge -D` before) that the vacuum is reporting battery status (it showed the level in simple numbers (16, 25, etc).

I can offer my device and time for testing, since I don't really know any useful programming language that applies to this.

Thanks for getting it working again!

[2020-05-23 23:55] apexad commented on #2
So, indeed, it is highly recommended that you manually switch these to ‘Show as Single Tiles’ (or whatever it is) versus the default group so you do not accidentally active it and also do a ‘Find’.

[2020-05-23 23:56] apexad commented on #2
Assuming this is the issue, I am closing this. Please re-open if still having the issue.

[2020-05-23 23:56] #2 closed, assigned to nobody

[2020-05-23 23:57] MonsterEnergy-wtf commented on #8
@raulfunkie  The status is already there. In Homekit app you will have to switch to seperate view "show as seperate tiles". Then you will have two tiles per robovac. On the one you will see charging status.

[2020-05-23 23:57] apexad commented on #8
As far as I can tell, if you look at the fan accessory exposed, Charging and Battery % are working for me. Is it not for you?

[2020-05-24 00:02] apexad commented on #8
Yes, this.  I highly recommend the 'Show as Separate Tiles' option.  Do not let HomeKit group them. As mentioned in https://github.com/joshstrange/homebridge-eufy-robovac/issues/2 this seems to cause some weird issues.

[2020-05-24 00:04] MonsterEnergy-wtf commented on #8
@apexad Glad we could solved the issues that easy. If you need my help for this project in future please let me know.

[2020-05-24 10:00] marcin001 commented on #10
Hi,

I guess i grabbed the wrong lockey.  For whatever reason logcat does not
return the search string you provided in the instructions.  any clues
there?  I've tried various strings that appeared to be lockey's in the adb
log but not having much luck...

On Sat, May 23, 2020 at 11:59 PM apexad <notifications@github.com> wrote:

[2020-05-24 12:44] apexad commented on #10
You may have to install EufyHome 2.3.2 via apk since it seems new versions no longer output the information.

[2020-05-24 13:02] MonsterEnergy-wtf commented on #8
@apexad What I now can confirm: all of my three Robovacs 30C are working fine.
The only thing I realized: when you miss the `"ip": "",` from the config, all Robovacs will become unresponsive. Not sure what happens here, but it might be cool if we could add this to the template - even if we are not using it.
An other thing might be to remove it totally from the code and the config.

But overall: I'

[2020-05-24 13:26] apexad commented on #8
Weird, I did not need to add this, but yes I will be taking it out from the config.

[2020-05-26 22:29] kyledyr opened #12 "Install command on NPM/GitHub readme refers to incorrect package"
The readme files on GitHub and NPM for v 1.2.1 and 1.2.0-beta.5 have the following install command shown:

Presumably this is not the correct package reference, as I believe it should be homebridge-eufy-robovac

[2020-05-27 04:56] apexad commented on #12
Whoops, changed text to reflect config.schema.json and copied from my other plugin. Fixing it now.

[2020-05-27 05:11] #12 closed, assigned to nobody

[2020-05-28 16:28] apexad opened #13 "Vacuum Cleaner reports as off when it is actually on"
Just wanted to put this here in case anyone else experiences this issue.

This causes a problem with the 'turn off to return home' feature of the plugin. There is a workaround where you can simply click it back on and then Off again and the Vacuum will return to the base station after several beeps.  However, this is not ideal.

In reviewing why this is occurring it seems like the get function is

[2020-05-31 15:31] MonsterEnergy-wtf commented on #13
I realized the same issue that devices are not shown as active.

Also I suggest to test this plugin more with Linux. Not sure what it causes but by homebridge server still says disconnected to eufies (I own 3 of them) until I restart it. After that the eufies are connected.
May it be that the plugin causes some unexpected behavior to connections? Maybe they cannot be refreshed or something like th

[2020-05-31 16:13] apexad commented on #13
Don’t think Linux has anything to do with it. It is related to how the NodeJS Tuya API is used by this plugin.

Also, keep in mind that only 1 connection to the Vacuum is allowed at a time, so opening the app on your phone or tablet can cause unexpected results. Otherwise, yes I have found that restarting homebridge fetches the status of the Vacuum in a different way and this may then allow Home a

[2020-06-07 06:12] grahamrb opened #14 "Looping and beeping with 1.3.0 update"
Just installed 1.3.0 on my homebridge and after restarting homebridge my robovac started looping repeatedly through stop, standby, home over and over again. Pulled the power on my homebridge to stop it.

[2020-06-08 06:25] grahamrb commented on #14
Tested with 1.3.1 and this is fixed

[2020-06-08 06:25] #14 closed, assigned to nobody

[2020-06-08 13:20] AdamDempsey opened #15 "Option to emulate "Switch" instead of "Fan""
I know that HomeKit doesn't currently officially support Vacuums which is why it appears as a Fan but is it possible to have an option to appear as a Switch instead as I have multiple real fans in the same room and when I use siri to switch them on and off in bulk my RoboVac also switches on.

[2020-06-08 15:31] apexad commented on #15
Sure, this should be fairly easy. Will work on it as soon as I can. Otherwise PRs are welcome.

[2020-06-09 07:33] hebra opened #16 "Way to extract device ID and local ID doesn't work anymore with 2.4.0"
The way to extract the local and device ID via adb doesn't work anymore with Eufy Home 2.4+ as the JSON isn't logged anymore.

[2020-06-09 13:46] apexad commented on #16
This is a known issue. Please see https://github.com/joshstrange/eufy-robovac#required-information which as a link to download the 2.3.2 apk file for android.

[2020-06-09 13:46] apexad commented on #16
I

[2020-06-09 13:48] apexad commented on #16
I’ll leave this open. I actually do want to make it so you can simply enter username/password and the plugin/library will automatically fetch localKey/devId.

[2020-06-10 08:39] MonsterEnergy-wtf commented on #13
For me it seems that version 1.3.1 fixed the issue with wrong status.

Also I restart homebridge every 15 minutes to pull data correctly. Automation works as expected.

[2020-06-10 08:41] MonsterEnergy-wtf opened #17 "Device descriptions are gone in overview"
With version 1.3.1 the issue with the wrong status is gone but now I'm facing the issue that the device's custom names are gone.
![WrongNames](https://user-images.githubusercontent.com/61805098/84246468-f530f000-ab06-11ea-9c77-b1a17946ded2.jpg)

The details of each tile is correct. So basically the display name in tiles are ignored. This causes Homekit to display wrong names. In my case I have thr

[2020-06-10 08:42] MonsterEnergy-wtf commented on #17
Also there is a mixture in localization. "Find Eufy Robovac" is English while the status is in German "Aus" (off).

[2020-06-10 08:57] MonsterEnergy-wtf opened #18 "Feature Request: notification within homekit"
Not sure if it is possible in general, but the Robovacs give me push notifications when something went wrong (ie. if a device eats up stuff which blocks the mechanics).

Is it possible to catch those notifications? If yes, it would enable me to block all outgoing connections for all robovacs to internet.
Any idea if this is possible?

[2020-06-10 19:20] apexad commented on #18
So, I believe the underlying `eufy-robovac` library can poll this kind of stuff. Additionally HomeKit does have Characteristics like ‘Obstruction Detected’ but not sure if we can attach that to a fan or switch. Will have to take a look.

[2020-06-11 01:43] apexad commented on #13
This is not resolved.  It is because you are restarting Homebridge every 15 minutes which is something I do not recommend.

[2020-06-11 05:34] apexad commented on #17
I am not sure about the 'Find' issue, that localization was never changed, but v1.3.2 should correct the name of the Vacuums.

[2020-06-11 05:34] #17 closed, assigned to nobody

[2020-06-11 05:56] #15 closed, assigned to nobody

[2020-06-13 17:56] raulfunkie commented on #18
Maybe adding another "Accessory" for the eufy like a motion sensor or something among those lines that would trigger a notification when it got "stuck"? That could be one of the things to try.

[2020-06-14 11:41] MonsterEnergy-wtf commented on #13
Yes, but I disabled the automatic restart of homebridge for several days and it turned out that the Eufies became unresponsible. So I basically return back to the workaround I had in the past and hope that unresponsible devices are gone. It is definitely not the best way to resolve it but it is better to make it that way than having trouble with Homebridge and the Eufy Plugin.

[2020-06-14 15:40] apexad commented on #13
I'm woking on a total re-write of this homebridge plugin to fix this issue.  No ETA, but soon.

[2020-06-14 15:41] apexad commented on #18
Sensors would work too.  I'll look into both (using Obstruction Detected) or separate sensors.

[2020-06-15 04:23] apexad commented on #18
[code]

So, those are all the errors it could report. Would the idea be for it to simply be 1 sensor for 'has an error' but not report what the error is directly in HomeKit, or a sensor for each possible error (which would be a lot of sensors).

[2020-06-15 05:01] apexad commented on #18
I'm going to go ahead and implement as a single Motion Sensor for now.  Will take input on changing it later.

[2020-06-15 05:10] #13 closed, assigned to nobody

[2020-06-15 19:20] MonsterEnergy-wtf commented on #18
@apexad Awesome work, dude! I highly appreciate your work!

One question left: how can I reset the motion sensor? I triggered an error (blocking the brushes and kept it upside down :-P) and I got an error by homekit. Any idea how to reset the error once it is triggered? Not sure if it possible in general.

Maybe after restarting the Eufy to clean an simple "disarm" event can be triggered?! Somethi

[2020-06-15 19:21] apexad commented on #18
If you clear the error on the Vacuum itself and close and re-open Home app, it should clear it.

[2020-06-15 19:22] MonsterEnergy-wtf commented on #18
Ah I see! Great work!

[2020-06-15 20:16] MonsterEnergy-wtf commented on #18
Stupid question: but the status is only refreshed once I restart the home app, correct? Then I get the error notification. In terms of push notifications homebridge cannot do it without push servers (pushover, IFTTTT and so on) are involved, correct?

Any idea how to get the information via push without restarting the home app?

[2020-06-15 20:22] apexad commented on #18
Hmmm, well, you can subscribe to notifications on that sensor, but you may be correct that it won't update in the background.  I can add polling pretty easily though so it will.  Will have to look around to see how often I can do that and Tuya be ok with it. Will add this soon.

[2020-06-17 22:30] Olepir commented on #16
If you still interested let me know pocketsoft at inbox dot lv

[2020-06-17 22:54] apexad commented on #16
@Olepir huh? I am still planning to do this when I get some time. Not sure exactly when though. If you want to contribute feel free to make a PR.

[2020-06-17 23:13] Olepir commented on #16
There’s one dev who modified Tuya apk for localKey/deviceId acquiring, in theory he can do the same for Eufy apk, but he needs Eufy acc details with device added to it for testing

[2020-06-18 02:05] apexad commented on #16
@Olepir is there a GitHub repo?

[2020-06-18 06:30] Olepir commented on #16
@apexad nope, he has his own page ))

[2020-06-22 20:45] Olepir commented on #16
If someone interested here’s the modified app for Android, no adb and Terminal needed
https://www.dropbox.com/s/bcwy6iqchydgexc/EufyHome_2.4.0_vevs.apk.zip?dl=0

[2020-06-25 18:29] vypergts opened #19 "Accessory not showing in Hoobs"
My vac was showing in 1.4. Since updating to 2.0.1, it won't show up at all in either Hoobs or Homekit. Log states:

6/25/2020, 2:06:07 PM The requested accessory "Eufy RoboVac" was not registered by any plugin.
6/25/2020, 2:06:07 PM Your config.json is requesting the accessory "Eufy RoboVac" which has not been published by any installed plugins.

My JSON config is:

        {
            "accesso

[2020-06-28 15:27] apexad commented on #19
2.0.0 May require homebridge 1.0 now and hoobs may not be updated yet. Please check with them to confirm and re-open if they say it is updated.

[2020-06-28 15:27] #19 closed, assigned to nobody

[2020-07-10 19:15] gusdie opened #21 "Issue with last version"
Hi, I’m having some issues in hoobs using the last version. The log is showing this. I have identified the device id and the local key (but not sure if they are ok)

Thanks!

10/7/2020 16:05:14 (node:6631) UnhandledPromiseRejectionWarning: Error: find() timed out. Is the device powered on and the ID or IP correct?
10/7/2020 16:05:14 at /home/hoobs/.hoobs/node_modules/tuyapi/index.js:619:13
10/7/20

[2020-07-17 14:16] apexad commented on #21
I’ve seen some other reports of timeout issues. What vacuum do you have?

[2020-07-18 18:34] heyventrilo commented on #21
Same error, I have the 30c Max model.

Here is a print of the issue:

[code]

I think is something not from this plugin, is from tuyapi side, but would be great if this plugin handle error exceptions of tuyapi, if not its crashing homebridge.

[2020-07-21 05:57] radiomurf commented on #21
I am also seeing these errors.
`
Jul 21 01:22:21 hoobs homebridge[674]: (node:674) UnhandledPromiseRejectionWarning: Error: connection timed out
Jul 21 01:22:21 hoobs homebridge[674]:     at Socket.<anonymous> (/usr/local/lib/node_modules/homebridge-eufy-robovJul 21 01:22:21 hoobs homebridge[674]:     at Object.onceWrapper (events.js:416:28)
Jul 21 01:22:21 hoobs homebridge[674]:     at Socket.emi

[2020-07-22 04:41] apexad commented on #21
Any once seeing these errors with the 15 model? Seems like it is isolated to the 30 Max.

[2020-07-22 14:47] gusdie commented on #21
I have same issues with 11c model

[2020-07-22 15:05] heyventrilo commented on #21
I made some manual modifications and i came to this conclussion:

- The package `eufy-robovac` doesn't provide a timeout to `tuyapi`, so default is 5s, so I changed to .2s (this makes a big difference)
- I implemented some `try` and `catch` for error handling
- I added default `callback(true)` to `catch` errors and avoid homebridge to crash. Apple Home always spect a callback(), and if you don't p

[2020-07-22 15:33] gusdie commented on #21
I’m interested if you can do it! Thank you!!!

[2020-07-22 16:26] apexad commented on #21
@heyventrilo Mind doing a fork of this repo and committing your changes and creating a Pull Request with your changes?  Specifically the timeout addition and try catch block stuff you mentioned.  I want to add that to this plugin.  The other key to this I think is having anytime an error does occur, for the `setup()` function to be ran again.

[2020-07-24 14:35] breekpunt opened #22 "Robovac Error"
Hi,

I just installed this plugin and when robovac is cleaning, I'm getting a Robovac Error.
After the error all my Homekit accessories are not available anymore.
I turned the debuglog on and this is what's going on:

Found device 78551441bcddc23bf1e4 at 192.168.1.5
Connecting...
Found device 78551441bcddc23bf1e4 at 192.168.1.5
Connecting...
Found device 78551441bcddc23bf1e4 at 192.168.1.5
Connect

[2020-07-25 08:35] apexad commented on #22
Duplicate of #21
Looking into this and will hopefully get it fixed this weekend.

[2020-07-25 08:35] #22 closed, assigned to nobody

[2020-08-27 11:35] HumanSkunk opened #23 "Battery state - Apple Home"
Hi, finally managed to get the plugin working with a bit of help from Reddit. Works great!

Only one 'issue' within the Homebridge app you can see the Charging state and percentage, is that feature usable within Apple Home? As I cant see any button/feature for it. The only entry that appears is the 3 bundled accessories including the off/on the buzzer and the motion sensor.

Is this a limitation o

[2020-08-27 15:30] mateen110110 commented on #21
Have the 30c model and it keeps crashing my homebridge as well...was there any update on any potential fix?

[2020-08-29 18:08] apexad commented on #23
The Battery Percent is show on the main switch if you click on the Settings Icon in the bottom right.
![IMG_FF583345F78B-1 2](https://user-images.githubusercontent.com/1437332/91643417-ea8c4580-e9e7-11ea-81c3-db7f7f1cc57c.jpeg)

[2020-08-29 18:08] #23 closed, assigned to nobody

[2020-08-29 18:11] apexad commented on #21
Sems to only be the 30C model.  I have 15C and it's working fine.  Hard to troubleshoot with my vacuum since it's working, but I do have some ideas as to what might fix it based on the discussion here.  Hopefully I'll finally have some time this weekend to work on this.

[2020-08-29 19:50] heyventrilo commented on #21
Is not a 30c problem, is an issue with the internet connection of the vacuum. If it get offline, it will crash the homebridge instance. I have made a separated bash  script to make it work as a separated process an no issues for months. I didnt have time to refactor the code but i will try to doit this week. Is something outside this plugin, but can help the people that have this issue.

[2020-09-01 21:47] apexad commented on #21
@heyventrilo That makes sense.  Curious as to why my Vacuum is staying online when it appears it is disconnecting for others.  Anyway, look forward to your PR. Still have not found time to work on this myself.

[2020-09-12 00:30] apexad commented on #21
`sudo npm install -g homebridge-eufy-robovac@2.1.0-beta.1`

Anyone want try this version and see if it's working?  I've added a `try...catch` block that I hope will correct what appears to be a stale connection issue.  It will re-establish the connection.

[2020-09-12 00:37] apexad commented on #21
@heyventrilo checkout https://github.com/joshstrange/homebridge-eufy-robovac/commit/66bda47e5621a89ec472bb7b1bb5927c36fa13f8 for what I did.  Perhaps this may be what you were missing?  Essentially by using cmdswitch2 I assume you are creating a new connection every time, which is why it works. I'm hoping that this can be done in the plugin as well.  This is what I am attempting to do here.

[2020-09-12 02:46] apexad commented on #16
https://github.com/mitchellrj/eufy_robovac/issues/1

[2020-09-12 11:26] MonsterEnergy-wtf commented on #21
Installed beta and will let you all know what my experiences are. I still restarted the homebridge every 15 minutes due timeouts.
Looking forward if this might resolve my issues too.
I have three of 30Cs running.

[2020-09-12 11:38] MonsterEnergy-wtf commented on #18
Ok, after several "crashes" with my robovacs I decided not to use notifications anymore. The thing is that it is uncomfortable to dismiss the notifications and also the notification is not pushed to my device as there is no push service for this. There are plenty of them but all of them require either personal data from me or they require a subscription. Both are things I don't want to use.

I'm c

[2020-09-12 11:45] MonsterEnergy-wtf opened #24 "Feature Request: different cleaning profile"
**[LOW PRIO]**

Hi @apexad
any idea how we could implement different cleaning profiles within homekit?
The remote for the 30c has several different cleaning profiles like "clean edges", "clean in circle" or other things like different fan power.

Not sure if it is possible at all, but I wonder if homekit offers something like a control for this. I guess homekit is not sufficient at this perspectiv

[2020-09-12 23:40] apexad commented on #24
I mean, if the remote can send the command, it could be done as a button in HomeKit too for sure, but would require a deeper dive into the API.

[2020-09-13 11:10] MonsterEnergy-wtf commented on #24
I just took a look into the implementation and as far as I could see there are already implementation done on eufy-robovac package.
https://github.com/joshstrange/eufy-robovac/blob/master/src/index.ts

There is an enum WorkMode which could be used. Also there is an other enum ErrorCode as well as CleanSpeed.

So basically we already have everything we need. Cool. I wasn't aware of this.
Not sure i

[2020-09-15 02:37] mateen110110 commented on #21
Using latest beta and seems to still have that issue, although happening less frequently?

[2020-09-15 04:23] apexad commented on #21
Question is does it totally crash Homebridge/Hoobs to where it cannot recover? If I've made progress to where it no longer crashes without a restart or uninstalling the plugin I can proceed and do what was mentioned previously.

The beta is essentially waiting for the device to fail/timeout. Once it does, it reconnects. What I may I've to do is auto-return Off while the reconnect happens or someth

[2020-09-15 10:31] MonsterEnergy-wtf commented on #21
So I can report that the issues still exist. In my case I get timeouts.
I also changed timout period in tuya api from 1 second to 5 and from my perspective it seems a bit more relaxed.
But in general the homebrigde crashes totally in my case. I have a temperature thing also running and after a crash both plugins are not working anymore.
Even the logger to the console crashes so I have to restart h

[2020-09-19 18:39] apexad commented on #21
I've pushed beta 2.
`sudo npm install -g homebridge-eufy-robovac@2.1.0-beta.2`
All of the **get** functions are now wrapped in `try...catch` blocks.  All of them will return the `callback` immediately except for the main `getCleanState` which is what run **setup** function again to re-connect the instance.

[2020-09-21 03:55] apexad commented on #21
I hope most of this is now resolved with v2.1.0
If this is not the case, re-open the issue.

[2020-09-21 03:55] #21 closed, assigned to nobody

[2020-10-21 20:14] niggydotcom commented on #24
+1 for this

For my G10 I'd love to turn on spot clean and reduce the suction maybe (make it quieter)

Thanks for your work so far - great to have control from Siri

[2020-11-03 09:57] dallombra opened #25 "Can't find the right combination of devId & localKey"
Hi there, when trying to find the devId/LocalKey combo, I can't seem to find exactly what's needed. Looking at the log file, I have the following

- device_key --> 16 digits alphanumeric
- local_code --> 16 digits alphanumeric
- device_id --> 36 digits alphanumeric (including 4 dashes - )

These are the only things I can find in the logs, but no combinations of those actually result in a successfu

[2020-11-03 14:40] apexad commented on #25
No need to make the same issue/comment in 3 different places. deleted 1 comment, closing this.  Will assist on https://github.com/joshstrange/eufy-robovac/issues/13

[2020-11-03 14:40] #25 closed, assigned to nobody

[2020-11-18 21:24] tritter commented on #1
@apexad I think its back again... Using the latest release v2.1.1 and using deviceId only...

`
Found device bfd3dcff6f6480ad0bcm56 at 192.168.0.43
Connecting...
Connected!
Status Updated!
Status Updated!
Looking for device...
Looking for device...
Looking for device...
Looking for device...
Status Updated!
(node:8296) UnhandledPromiseRejectionWarning: Error: find() timed out. Is the device powere

[2020-12-17 20:59] ghost opened #27 "Individually work, but fail when more than one Robovac is connected"
Hi,
I have three robovacs, a G10, 30C and 15C Max. I have the device ID and Localkey for each which i sniffed from bluestacks. When i load them in individually, they work. However, when i try and have more than one vacuum identified it throws out the following error in Homebridge status Log:

"Error: find() timed out. Is the device powered on and the ID or IP correct?
    at /usr/local/lib/node_mo

[2020-12-18 05:23] apexad commented on #27
Connect to Tuya API for Eufy Robovac Vacuum cleaners is not ideal.  In my experience it barely works with 1 vacuum and there are issues with the app when the plugin is running.

Perhaps try adding one, restart homebridge, wait a few minutes, add a second, restart, wait a few minutes, add a 3rd.

Otherwise, I could implement some random timeouts to stager the connects or something, but there may st

[2020-12-18 16:58] ghost commented on #27
It seems very sporadic. Today, i could get two (!) working, but only when i had already turned them on and then closed the Eufyhome app. Minutes later, all were unresponsive.

[2020-12-18 18:11] MonsterEnergy-wtf commented on #27
This is strange. I have 3 Robovac30c and it works.
Are they usable when using the app from Eufy for them?

[2020-12-18 19:24] ghost commented on #27
They work flawlessly from the Eufy app, and from Alexa and elsewhere. Just trying to get them into the HomeKit ecosphere so I can bin off Alexa but it’s a bit of an uphill struggle at the moment.

Would you share your config so I can make sure I’m not doing anything daft?

[2020-12-18 19:51] apexad commented on #27
@pinityoufairy Try using `2.1.2-beta.0` and see if it works any better. I've made small small change to add a random delay.  Curious if that will help.

[2020-12-18 20:50] pinityoufairy commented on #27
@apexad apologies for being a rampant n00b but ...how do I install the beta? I’m familiar with smashing “Sudo npm install -g homebridge-eufy-robovac“ into the terminal, but that’s about as techy as I get. I’m an engineer, but a concrete and steel one!

[2020-12-18 21:51] ghost commented on #27
Ok, i installed 2.1.2 beta.0 and it made no difference. Same errors.

"Error: find() timed out. Is the device powered on and the ID or IP correct?
    at /usr/local/lib/node_modules/homebridge-eufy-robovac/node_modules/tuyapi/index.js:622:13
    at Timeout._onTimeout (/usr/local/lib/node_modules/homebridge-eufy-robovac/node_modules/p-timeout/index.js:25:13)
    at listOnTimeout (internal/timers.js

[2020-12-19 16:47] apexad commented on #27
Bummer

[2020-12-21 01:40] apexad commented on #27
Try `2.1.2-beta.1`.  I've changed up the configuration a bit, but also added an called `timeoutDuration` which can be set in homebridge ui under advanced options.  Try setting it to something like 5 (as it was 2 by default before) and see if that helps.

**EDIT:** use `homebridge-eufy-robovac@2.1.2-beta.2` instead

[2020-12-22 10:00] ghost commented on #27
Hi, thanks for your efforts so far.
I uninstalled and then reinstalled homebridge-eufy-robovac@2.1.2-beta.2. I've also only set one vacuum up and it's not working with just one.

but i'm getting the following (same) error:

Error: find() timed out. Is the device powered on and the ID or IP correct?
    at /usr/local/lib/node_modules/homebridge-eufy-robovac/node_modules/tuyapi/index.js:622:13
    a

[2020-12-22 17:15] apexad commented on #27
Just want to confirm you do not have the Eufy app open on any device right? Even in the background?

[2020-12-22 17:34] ghost commented on #27
Correct, it is closed on iphones and ipad. I do have sharing set up with my partner through the eufy app, but it is closed on her devices too.

[2020-12-23 08:57] mreassassin commented on #21
I'm getting this same error.

My 15c almost always dies before it makes it back to the docking station. It seems like when that happens it makes home kit unresponsive.

I have two 15c's and if/when even one of them goes offline or errors it seems that home kit goes unresponsive.

I've tried latest and beta 2 with the same results.

[2020-12-23 18:18] apexad commented on #27
@joshstrange I am planning to re-write this plugin to not store connections and possibly turn it into a platform to better support multiple vacuums. Asking again if you are able to transfer this to me?

[2020-12-23 18:22] joshstrange commented on #27
@apexad Sorry I missed your other request to transfer, I've been meaning to ask you about transferring since I'm not active. I will transfer this and the other repo to you now.

[2020-12-23 18:24] joshstrange commented on #27
@apexad It's not letting me transfer because you have a fork of this I think. You might just be able to re-name your version and then I can transfer
![Screen Shot 2020-12-23 at 1 23 25 PM](https://user-images.githubusercontent.com/462796/103026500-16e14a00-4522-11eb-80f4-76a3c61a7d03.png)

[2020-12-23 18:26] joshstrange commented on #27
Same deal for the base library, if you can rename quickly I can transfer now. I'm about to have to leave my house for a few hours so I can do it later if we can't resolve this within the next 5-10min.

[2020-12-23 18:29] apexad commented on #27
@joshstrange Try again, I just deleted both

[2020-12-23 18:31] joshstrange commented on #27
@apexad Done and done. Both have been transferred from my end. Thank you for taking these projects and thank you for running the support for as long as you have. I should have reached out about transferring a long time ago seeing how you have been doing all the work. If there is anything else I missed let me know and I'll transfer it as well.

[2020-12-23 18:43] ghost commented on #27
@joshstrange  @apexad  I’m very excited to see where you guys go with this, and thanks for your support to date!

[2020-12-24 18:43] mreassassin commented on #27
I'm in the same boat with the errors and multiple vacs. Also looking forward to the upgrades!  Thanks!

[2021-01-01 00:02] sierralx commented on #27
Connecting...
Connected!
Robovac Error {}
Disconnected!
Robovac Error {}
Robovac Error {}
Robovac Error {}

[2021-01-01 00:04] sierralx opened #28 "Intermittent Connected!, Disconnected!, Robovac Error {}"
Connecting...
Connected!
Robovac Error {}
Disconnected!
Robovac Error {}
Robovac Error {}
Robovac Error {}

[2021-01-01 09:46] MonsterEnergy-wtf commented on #28
I resolved this issue with 3(!) Robovacs by restarting the homebridge every 15 minutes.
For me it is working fine.

I remember, that @apexad (correct me if I'm wrong)mentioned something in the past that the initial discovery of the robovacs works differently than the "keep alive and are you still there?" mode.

I guess this is why my robovacs work fine.

You could give it a try. It may help to ser

[2021-01-01 13:10] MonsterEnergy-wtf commented on #27
https://github.com/apexad/homebridge-eufy-robovac/issues/28#issuecomment-753294378

[2021-01-03 18:34] niggydotcom opened #29 "Feature request: Spot cleaning"
Hi could I ask it to spot clean rather than using the Eufy app?

[2021-01-03 20:32] apexad commented on #29
Basically a duplicate of #24 and yes, I plan to add this, but first there is a lot of underlying work that I want to do with this plugin and library when I get some time.

[2021-01-03 20:32] #29 closed

[2021-01-03 20:34] apexad commented on #28
Similar to #27, but in any case it has to do with he number of connections allowed to the tuna platform for the Eufy Robovac vacuums.  Not much I can do to resolve this without a re-write, which I am planning but don't have an ETA.  Refer to #27 for updates on this though as that is where I will log changes to how this plugin connects.

[2021-01-03 20:34] #28 closed, assigned to nobody

[2021-01-21 16:34] rfitzpatrickCO opened #30 "Robovac Error Disconnected"
I continue to get the error below. Any help troubleshooting this would be appreciated.

[code]

[2021-01-27 03:20] fiigo0 commented on #30
Same issue here,

[code]

I restarted the vacuum, reinstall the plugin and set the keys and restarted homebridge it worked one time from the home app but after it went to charge station stoped working, i also have a static ip for the vacuum

[code]

[2021-02-14 00:19] coneybeare commented on #30
Seeing the same issue. I redid configuration (`deviceId` and `localKey` did not change on device), and plugin still cannot connect to the robovac:

[code]

[2021-02-15 18:57] Kris8768 commented on #30
Im also getting the same issue. Seemed to work great for about a week but then it started to just show updating in Home app and looks to be causing other Homebridge devices to be delayed / updating. I have re-installed home bridge but this is still the same. Also set static IP and forced it to that IP within my DHCP to ensure it stays and nothing else uses it.

Error: find() timed out. Is the devi

[2021-02-17 11:12] treforparr commented on #28
I'm stoned have a problem with this gonna be fixed I had it working last night and then started playing up

[2021-02-17 14:11] xnonim commented on #30
I'm having same issue, but waiting for maybe 2 minutes, it fixes itself. sometimes I have to push the switch in home app many times, and it works.

[2021-02-17 14:25] xnonim opened #31 "not a big deal"
Hi, first of all thanks for this plug-in, it is great.

I'm having this logs, I haven't seeing another one reported it here, so I'm just letting you know

[2/17/2021, 11:13:31 AM] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[2/17/2021, 11:13:31 AM] [homebridge-eufy-robovac] Th

[2021-02-17 17:06] damon021 opened #32 "Plugin stopped working"
Hello,

I've been using the plugin on Hoobs for a while now and everything was working flawlessly. Last night all of a sudden, it completely stopped working and the status is stuck on "Updating". I reinstalled the plugin but nothing's changed.

Any tips?

[2021-02-17 18:09] MonsterEnergy-wtf commented on #32
Yes. From my side I restart Homebridge every 15 minutes via cron. This resolves the issue. Definitely not ideal but working.

[2021-02-17 18:10] MonsterEnergy-wtf commented on #30
From my side I restart Homebridge every 15 minutes via cron. This resolves the issue. Definitely not ideal but working.

[2021-02-18 18:59] Kris8768 commented on #32
Do you have the cron job within a docker container of any chance?

[2021-02-18 19:04] MonsterEnergy-wtf commented on #32
Depends on the docking container and how long it takes to come up.

Within the docking container - most liekely no. But you could restart the docker container. Should work. At least you could gibe it a try.

I'm interested if this is working for you.

[2021-02-19 13:35] damon021 commented on #32
I migate

[2021-02-19 13:36] damon021 commented on #32
The problem is it doesn't work with a simple restart and I have to uninstall and reinstall the plugin.

[2021-02-19 17:20] ole-gitty commented on #30
Was just trying to get this plugin working for the first time, and I am having the same issue - "find() timeout" and then "Robovac Error". I have extracted the keys properly so I know it's not just me.  This is on a 30C.

[2021-02-19 18:35] damon021 commented on #32
this is part of my homebridge log:

`Error: find() timed out. Is the device powered on and the ID or IP correct?
    at /usr/local/lib/node_modules/homebridge-eufy-robovac/node_modules/tuyapi/index.js:622:13
    at Timeout._onTimeout (/usr/local/lib/node_modules/homebridge-eufy-robovac/node_modules/p-timeout/index.js:25:13)
    at listOnTimeout (internal/timers.js:554:17)
    at processTimers (int

[2021-02-20 14:54] RosemaryOrchard opened #33 "Plugin dows down Homebridge, characteristics slow/fail to respond & unhandled promise rejections"
I just updated my HomeBridge to v1.3.0, and these entries now appear in the log file when HomeBridge starts:

[code]

[2021-02-20 21:03] #31 closed, assigned to nobody

[2021-02-20 21:06] xnonim commented on #33
same here, it would be sad if this great plug-in is no longer maintained

[2/17/2021, 11:13:31 AM] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[2/17/2021, 11:13:31 AM] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'Status

[2021-02-22 06:23] apexad commented on #32
Duplicate of #30 more or less.  I'm planning on re-writing this plugin soon, so trying to clear issues that are similar.

[2021-02-22 06:23] #32 closed, assigned to nobody

[2021-02-22 06:24] apexad commented on #27
Interesting stuff here, but closing in favor of #30

[2021-02-22 06:24] #27 closed, assigned to nobody

[2021-02-22 06:24] apexad commented on #33
I'm planning on putting on some work on this plugin soon.
Closing in favor of #30

[2021-02-22 06:24] #33 closed, assigned to nobody

[2021-02-22 07:56] MonsterEnergy-wtf commented on #18
Closed as there is no activity from the maintainer.

[2021-02-22 07:56] MonsterEnergy-wtf commented on #24
Closed as there is no activity by maintainer.

[2021-02-22 10:21] bennokress opened #34 "Robovac Error/Disconnected/Slowness/Warning in Homebridge 1.3.0: Slow to respond"
Just a heads up, as long as it still works as it does, I'm happy :) But maybe something can be done about it in the long run:

    [2/22/2021, 10:16:53 AM] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
    [2/22/2021, 10:16:53 AM] [homebridge-eufy-robovac] This plugin slows down

[2021-02-22 14:51] apexad commented on #24
I plan to work on this very soon

[2021-02-22 14:52] apexad commented on #18
Plan to work on this too

[2021-02-22 14:53] apexad commented on #34
Yes, I will be re-writing this plugin soon and will fix this warning.

[2021-02-22 15:45] raulfunkie commented on #34
@apexad hey there Alex, let me know if you need any beta testers for the re-write. I might want to jump in on this train again and try to make my robovac work with HomeKit.

[2021-02-24 22:31] treforparr commented on #34
Is there any way of removing local ID and Device ID maybe integrated through username and password  like  ring a token linked into the app, I was thinking about this a few days ago it's so difficult to get the local ID and device ID it must be an easy way of doing it, I know you're working extremely hard apexad  I know there's an access to the Mac ID address now in app I don't know if that's any u

[2021-02-25 08:15] MonsterEnergy-wtf commented on #34
@treforparr Short answer: no.
The IDs are unique and have to match before you can establish a connection to the device.

[2021-03-05 14:05] mrtmsmith89 opened #35 "Not responding"
Device has been working fine, I'm running hoobs and I've updated to 3.3.3 today and Node 14.16.0

Since then device has become unresponsive, can go into settings and view it's charging, and see the charge level, yet pressing on the device won't activate it.

Also getting this in the log;

`05/03/2021, 14:01:25 [HOOBS C4BE@On] The write handler for the characteristic 'On' on the accessory 'Boris th

[2021-03-05 14:06] #35 closed, assigned to nobody

[2021-03-05 14:06] mrtmsmith89 commented on #35
Now started working again, still slow to respond but can see from other issue dev is going to address this.

[2021-03-26 21:34] ethempekin commented on #34
Any progress on solving this issue? Thanks in advance.

[2021-04-01 18:16] MonsterEnergy-wtf commented on #34
To be honest: I don't think so. The author is talking about the "rewrite" since last year and as this work is really voluntary I guess it will take a lot of time too. Also we all don't know what the reasons for the delay are and this is fine. As I mentioned: this is voluntary and every development needs to be taken in free time.

I'm currently working on my own to see what is causing the issue and

[2021-04-01 18:26] ethempekin commented on #34
Thanks for the efforts.
Homebridge is a bit unreliable lately due to this but automations that I
created works with the robovac so no big complaints here.

On Thu, 1 Apr 2021 at 20:16, MonsterEnergy-wtf ***@***.***>
wrote:

[2021-04-02 01:45] nihirpatel commented on #1
Also getting the same issue using device ID..

`(node:1373) UnhandledPromiseRejectionWarning: Error: find() timed out. Is the device powered on and the ID or IP correct?
    at /homebridge/node_modules/homebridge-eufy-robovac/node_modules/tuyapi/index.js:622:13
    at Timeout._onTimeout (/homebridge/node_modules/homebridge-eufy-robovac/node_modules/p-timeout/index.js:25:13)
    at listOnTimeout (i

[2021-04-02 04:17] apexad commented on #34
So, I welcome anyone else to look into the issues with this plugin and do small fixes or a re-write.

Otherwise, It's still on my list of things to do a big re-write/re-factor of this plugin but indeed 2020 and 2021 have been interesting years and I have not found the time yet.

However, please note I still own this vacuum and still do plan to take a look at the issues with this plugin.

[2021-04-02 04:25] apexad commented on #30
So at this time I am going to close this issue as it seems intermittent at best and otherwise related to the 'slowness' of the way the plugin is polling status (and setting it for that matter) which is generally covered by what Homebridge 1.3.x is reporting and #34 calls this out better.

Assuming device id and local id are correct and you do not have the Eufy Home app open on any other device, th

[2021-04-02 04:25] #30 closed, assigned to nobody

[2021-04-05 11:09] MonsterEnergy-wtf commented on #34
So. What I found out after a bit of work:

When first contacting ONE RoboVac some methods are fired twice which makes it a bit confusing to clear up the issue. But the answer from the Robovacs comes too late and this is why Homebridge thinks, that the plugin is slowing down Homebridge. Once connections can be established to the device the message disappears.

Then I decided to move the class of eu

[2021-04-05 18:18] apexad commented on #34
Please push your code to GitHub if you can. It would fine in my opinion to strip this plugin down to only On/Off (Return Home) in an initial re-write.

I'm also considering combining the repos actually similar to how ring does it.

[2021-04-05 20:51] fairm010 commented on #34
Happy to test any Beta / Rewrite that may come from your work here!

[2021-04-06 19:18] MonsterEnergy-wtf commented on #34
First related to the initial post of this:
Homebridge 1.3.0 has issues related to this error message. This should be fixed (or at least seen not so often) from version 1.3.3 and newer.

I'm using 1.3.4 running at my Mac locally for development reasons. I realized that Homebridge doesn't seem to be reliable as sometimes the Robovacs can be found without any issues and sometimes the plugin still slo

[2021-04-06 19:54] MonsterEnergy-wtf commented on #34
I have a work around to skip the error messages from Homebridge related to slowing down stuff. I assume that Homebridge will be started when the Robovacs are not working. This speeds up the initialization of this plugin as I set values per default.

 I will now test my stuff before pushing changes to this repository.

[2021-04-17 19:36] taaa22 commented on #34
@MonsterEnergy-wtf
Any updates on this?
I'm having the same problem.
![image](https://user-images.githubusercontent.com/24491863/115124864-ac26b380-9fd5-11eb-9827-29880ee3067e.png)

[2021-04-17 21:41] MonsterEnergy-wtf commented on #34
@taaa22
Yes and no at the same time.

The plugin itself is working but I still get the slow down message.
To be honest: I don't believe that this is a problem on Homebridge side or TUYAPI (the API the plugin uses to establish connection to the Robovac).
After some days of testing  I got the feeling that the Robovacs are really slow to respond at all. This is why I did some nasty thing and set valu

[2021-04-19 18:00] taaa22 commented on #34
Thank you @MonsterEnergy-wtf for your reply.
This error happens when you leave the eufy home app open.
As soon as I closed the eufy app, it worked for me.

But I'm still getting the slow-down message.

Looking forward to your solution.

[2021-04-19 19:15] apexad commented on #34
Same here. I have had a chance to fix some issues on some of my other plugins. This one is next up if MonsterEnergy does not beat me to it.

[2021-04-19 20:53] taaa22 commented on #34
All the best @apexad.
We really appreciate your work guys.

[2021-04-21 11:22] martijnpoppen commented on #34
@apexad ,
Added a PR to the eufy-robovac repo.
Found that you have to force the IP. This wil fix the `Error: find() timed out. Is the device powered on and the ID or IP correct?`
Also giving a `issueRefreshOnConnect` will work with the statuses on startup of the Lib.

Next to that. I think that the memory issue comes from the `on('data')` event. the statuses are written to the variable. But when t

[2021-07-06 21:12] MonsterEnergy-wtf commented on #34
Folks,
I give up fixing the "everything is going to be slow because of this plugin blahbla".

Let me explain why.

1) I had three of the robovacs and one started to have issues with the wheel (strange sound). So I ordered a spare part from China. After disassembling and reassembling the device it threw an error which says that the fall sensors are dirty. Long story short: I have a 200€ piece of de

[2021-07-14 06:24] apexad commented on #34
The key to getting rid of the 'plugin slows down homebridge' is to make it so status checks fall back to a previous check and queue an update to set the cached status.  Actions may be tough to do this with, but hopefully those are fairly quick.

My single vacuum is not used as much as I would like but I still have it.  Still plan to put in some work on this plugin and the underlying library (possi

[2021-07-15 20:39] TheIronRock95 opened #36 "Can't find the local_key"
I’m trying to setup my Eufy Robavac C35 to HA, But I am struggling to get the device_id and de Local_key. I used a Samsung A20e and Bluestack but I did succeed yet.

I used `adb logcat` and searched for the id and key I found the key but did succeed to find the local_Key. If I search for local_code the value is empty

I tried multiple versions of the app 2.3.1/2.3.2/2.4.0.

Output (*** == hide val

[2021-07-16 06:23] #36 closed, assigned to nobody

[2021-07-24 10:48] ethempekin commented on #34
There were some days with better connection but lately it slows my homekit too much so i disabled it. Thanks again for updates.

[2021-08-24 22:23] gerbenvandijk commented on #34
Same here, also disabled it but keeping a keen eye on future updates. Was awesome for a while (I used it to let the vacuum do its thing while I'm out and stop and dock when I got back), but it made all other homebridge devices unresponsive as well so hence. If I can contribute in any way with testing I would be happy to, I can't contribute to development due to other current obligations. Thanks so

[2021-08-24 22:46] apexad commented on #34
Sorry all, I may just pull this plugin from npm until I get a chance to attempt some major refactoring. What I will probably end up doing is try to go as simple as possible. Back to just a single on/off switch for the vacuum to start or return home. Adding error checking, battery, etc... was probably not the right way to go.

[2021-09-07 14:21] elliottlack commented on #34
I'll happily beta test the new plugin when available

[2021-10-02 14:33] ctrlcmdshft commented on #34
I would enjoy this even as a simple on/off. Any alerts or settings I would just use app. I mean I already have the settings I need set and just use app to start the vacuum.

So I'm all for a simple bot to get this going again

[2021-12-06 15:26] leesonthenet commented on #34
Keeping it simple I would agree would be the way to go. I've had to disable this plugin for now - not sure if Eufy made some changes on their end, but it rarely connects/works anymore.

[2021-12-06 15:30] ctrlcmdshft commented on #34
Simple is better less headaches and easier to maintain, all i need personally is single on/off

[2021-12-06 15:39] elliottlack commented on #34
Agreed, all I was hoping to do was turn on and return home.

[2021-12-23 22:08] R3ngadechaZzz opened #37 "Issues with the RoboVac Plugin"
All is setup properly and appropriately within my homebridge.

All works great in my apple HomeKit too. However, only for a short period. Maybe a few hours. I can call it through Siri to start, stop. Etc. As I said all works great.

The error I get thrown is (As well as others of the same nature):
- _This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respon

[2021-12-28 13:41] apexad commented on #37
Duplicate of #34
I have it had a chance to work in this yet.

[2021-12-28 13:41] #37 closed, assigned to nobody

[2022-01-07 17:37] QandnotU commented on #34
@apexad I'd be happy to throw some money your way if we could get a re-write with a simple start and send home. I'm sure anyone else looking for this would too. If you have the bandwidth, let me know.

[2022-01-07 18:07] fairm010 commented on #34
If you'd just like start and send home I can write you a guide (when my MacBook is fixed lol) on how I have this working via a slightly convoluted method including using Alexa.

[2022-01-07 18:47] MonsterEnergy-wtf commented on #34
Folks,
as I already wrote in one of my older posts I really believe that the implementation itself is not causing the issue.

From my perspective I can say that three Robovacs 30C are really slow to respond. The fuctionality is working but the response from the robovacs are comming too late. This causes the implementation to wait until a response comes back. And this causes Homebridge to say that

[2022-01-07 19:00] QandnotU commented on #34
Fair enough, I missed this, thanks! Would be nice, at the very least, if Eufy added Shortcuts support.

[2022-01-16 20:19] ThatisN0tM3 commented on #34
Hello,

i am not sure if this is the right posting, but i try it.

I have loaded hoobs on my Raspberry, set fix IP Adress, Login Datas........
I try to add my Eufy Robovac G10 for using in Apple HomeKit.

- Readed the DeviceID and LocalKey like in the Description
- create a Bridge in Hoobs, named Robovac,
- write the DeviceID and LocalKey + IP Adress from the G10 in the Plugin
- Added it in HomeKi

[2022-01-20 16:42] hov3rcraft commented on #34
I attempted a full rewrite of the plugin and was able to solve the "slow to respond" issue. Controlling the RoboVac using the Home app and starting the cleaning using an automation work reliably now!  However, my "return to home" automation still gives me trouble. Anyone interested in testing?

**If you are interested in the details:**
The main issue seems to be that the callbacks in the plugin ta

[2022-01-20 17:59] ctrlcmdshft commented on #34
@hov3rcraft I can try how do i load yours into home kit

[2022-01-20 21:29] R3ngadechaZzz commented on #34
Hi,

I’m interested in testing

On Thu, 20 Jan 2022 at 16:43, hov3rcraft ***@***.***> wrote:

--
Charles Nelhams

[2022-01-21 03:49] raulfunkie commented on #34
Interested as well.

[2022-01-21 07:13] ThatisN0tM3 commented on #34
Sure i want to test it, when you tell me how i can implementate it in my HomeBridge / Hoobs System

[2022-02-02 02:37] #18 closed, assigned to nobody

[2022-02-02 02:38] #24 closed, assigned to nobody

[2022-02-02 02:38] apexad commented on #24
The thought now is to just make this thing as simple as possible on/off.  No frills.

[2022-02-26 08:10] steverae68 commented on #34
Just installed this plugin and although I have my Id and key, I too, get this error
[26/02/2022, 08:04:56] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

Any news on when this update will be released

[2022-02-26 12:07] apexad commented on #34
I recently updated it to get rid of battery and error sensors and stuff. Will fix it soon to do a cache for the on/off so this error does not get logged. Possibly this weekend. However, please understand this won't make anything actually faster, it will just make homebridge not realize it is not fast.

[2022-02-26 16:13] steverae68 commented on #34
Thanks for the update.
On my system, this robovac never goes online, it simple toggles between. Updating and no response status in HomeKit with the above error repeating in Red.
I have the x8 robovac on latest firmware 1.3.1.1 ?

Happy to beta test anything you need me too.

@apexad did you see my post re: getting deviceid and key using this...

https://gitlab.com/Rjevski/eufy-device-id-and-local-

[2022-02-28 18:25] steverae68 commented on #34
Here are the logs from my current config that never actually starts

[28/02/2022, 18:03:09] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[28/02/2022, 18:03:15] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respo

[2022-02-28 21:08] apexad commented on #34
Definitely going to integrate the automatic device id and local key grabber. I have to rewrite it in node though, so it will take some time.

I actually don't currently have my own vacuum. It's somewhere in a box unfortunately.

Will take a look at your logs and see if I can find anything that might have created the issue. May want to see if the previous version works?

[2022-02-28 22:10] steverae68 commented on #34
Alex - even the older versions back to 2.10 gave the same errors S shown here.  I never get my vacuum to appear in HomeKit, it just goes from updating to no response than back

[2022-02-28 23:40] apexad commented on #34
Interesting. That model may be returning different stuff. You may want turn on debug mode and open a new issue with those debug logs.

[2022-03-01 17:28] steverae68 commented on #34
I'll do this tonight and send in the logs 👍

[2022-03-01 21:30] steverae68 commented on #34
[01/03/2022, 20:30:08] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[01/03/2022, 20:30:14] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See htt

[2022-03-01 21:39] fairm010 commented on #34
Just to add, I get pretty much the same log but on an old Robovac 30C.

[2022-03-01 21:39] ctrlcmdshft commented on #34
Having same issues with different vacuum mine is the Eufy RoboVac G30 Edge

Device never goes online in HomeKit, just bounces from Updating to No Response then repeating.

[code]

[2022-03-01 21:53] steverae68 commented on #34
Ohh I'm glad I'm not alone ...

I've tried all previous versions of the plugin and get the same thing, but with more warnings as I believe Alex cached a lot of the other warning messages.

From my reading on this, eufy use the Tuya platform with some funky encryption to control these devices - hence the reason my Tuya lan plugin detects the deviceId.

I've tried connecting this to my Tuya lan / sm

[2022-03-01 22:02] steverae68 opened #38 "No response from robovac in HomeKit"
[01/03/2022, 20:30:08] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' was slow to respond! See https://git.io/JtMGR for more info.
[01/03/2022, 20:30:14] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See htt

[2022-03-01 22:03] apexad commented on #34
Well, to be clear Eufy is not alone in being rebranded tugs devices. Seems like alarmist everything is really just tuya. That being said, in the case of the vacuums they are rebranded tuya devices.

The Eufy app basically creates a fake tuya account for you which is what actually controls the vacuum. I saw somewhere else that someone was indeed able to add a Eufy vacuum to Tuya but it was hard to

[2022-03-01 22:05] steverae68 commented on #34
I've opened a new issue for this problem with no response.

@fairm010
@ctrlcmdshft

Can you add your comments to the new issue.

[2022-03-01 22:13] apexad commented on #38
Debug logs don't add much info to help unfortunately. I may have to send you some test scripts or something to attempt to see what is happening. I have some time now, but not a ton, so just bare with me.

[2022-03-01 23:07] steverae68 commented on #38
No problem - dm me (isn’t that what the youngun’s say) happy to help in any way I can.

Sent from my iPhone

[2022-03-02 04:42] ctrlcmdshft commented on #38
following as i have same issues.

[2022-03-04 22:09] mirunamd commented on #38
same issue here, any update?

[2022-03-06 20:15] steverae68 commented on #38
Any update... as already mentioned, happy to test when ever needed.

Eufy RoboVac X8

[2022-03-10 10:41] gerbenvandijk commented on #38
Also following, same issue for me :) Robovac 30c with latest firmware.

[2022-03-10 16:19] apexad commented on #34
Closing this issue. It's got way too much going on and is a mix of slow-no response-and maybe we can get a rewrite-I cannot get my key-etc...

My Eufy Robovac is currently in storage and I hope to find it soon, and revive this plugin. Endless comments of 'I also have an issue' help no one.

[2022-03-10 16:19] #34 closed, assigned to nobody

[2022-03-11 08:58] artfulsplodger opened #39 "No response"
Hi! I'm getting this error in HB:

[11/03/2022, 08:55:56] [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

Vac shows up in Home but with 'No Response'

Any help much appreciated!

[2022-03-16 21:41] Pau1Mc opened #40 "No Response"
Has stopped being functional in homekit

[2022-03-17 03:37] apexad commented on #40
duplicate

[2022-03-17 03:37] #40 closed, assigned to nobody

[2022-03-17 03:37] apexad commented on #39
duplicate

[2022-03-17 03:37] #39 closed, assigned to nobody

[2022-03-17 03:46] apexad commented on #38
Hopefully this is fixed in the latest version.
If not, please re-open the issue.

[2022-03-17 03:46] #38 closed, assigned to nobody

[2022-03-17 07:35] Pau1Mc commented on #40
Update resolves the issue, great work!
Thanks for maintaining this

On 17 Mar 2022, at 03:37, Alex Martin ***@***.***> wrote:

﻿
Closed #40.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you authored the thread.

[2022-03-25 22:07] mirunamd opened #41 "Robovac Error"
I'm getting the following error in the logs:

 [homebridge-eufy-robovac] This plugin slows down Homebridge. The read handler for the characteristic 'On' didn't respond at all!. Please check that you properly call the callback! See https://git.io/JtMGR for more info.

Connecting...
Robovac Error {}
Disconnected!
Connecting...
Robovac Error {}
Disconnected!

Is there anything I can do to diagnose th

[2022-04-13 08:11] bursaar commented on #41
Getting the same, and the Eufy vac has stopped responding.

[2022-07-18 13:59] ip-rob opened #42 "Suggestion: Alternate way to get device ID and local key without emulator"
Not an issue, just a suggestion. I didn't want to install an emulator and didn't have an Android device available, so I used the python script located here: https://gitlab.com/Rjevski/eufy-device-id-and-local-key-grabber

Running this script from my ubuntu VM was very simple and output the device ID and key to use in the plugin.

Thought that approach might be worth adding to the Wiki.

Thanks for

[2022-07-18 14:10] ip-rob commented on #42
Closing this as I see it is in the eufy-robovac repository in the open issue, thus redundant. Sorry.

[2022-07-18 14:10] #42 closed, assigned to nobody

[2022-08-08 00:52] greyivy commented on #41
Same error. The plugin is completely broken for me.

[2022-08-15 00:54] martsie commented on #41
Yep same.

[2022-08-17 22:36] apexad commented on #41
Sorry all. My Robovac is in storage and even beyond that I regrettably don’t have much time these days.

[2022-08-22 00:18] seldridge1 commented on #42
I’m sure it isn’t the safest route, but for what it’s worth, I was able to use Storm Sniffer (https://apps.apple.com/us/app/storm-sniffer-packet-capture/id1610958307) to find my devId and localKey.

[2022-09-17 10:24] lawrencegripper commented on #41
This fork has the IP option and worked for me: https://github.com/ale770/homebridge-eufy-robovac